[submodule "ui-components"]
	path = deps/ui-components
	url = https://github.com/UW-Macrostrat/ui-components.git
[submodule "deps/geologic-patterns"]
	path = deps/geologic-patterns
	url = https://github.com/davenquinn/geologic-patterns.git
