:global
  .app
    margin: 0
    padding: 0

html, body
  margin: 0
  padding: 0

@require "./_variables"
@require "./text"

@require "~@blueprintjs/core/lib/css/blueprint.css"

// Temporary
@require "../components/column-view/main.module"