.wide-page
  display: flex
  flex-direction: row
  margin-inline: var(--page-margin)
  margin-block: 1em
  .sidebar
    max-width: 20%
    min-width: 200px
    margin-right: var(--page-gutter)
    .sidebar-content>*
      margin: 0.5em 0 1em
  .main
    flex-grow 1
