.labeled-value
  .label
    font-size: 0.8rem
    font-style: italic
    color: #666
    margin-right: 0.5rem
    text-decoration: none
    &:hover
      text-decoration: none
    &:after
      content: ":"
    