.image-dropzone
  margin-bottom 2em
  text-align: center
  font-size 1.5em
  .subtext
    font-size: 0.8em
    font-style: italic

.image-file-row
  height 120px
  img
    max-height 110px
    max-width: 200px
    